<script>start("/Users/artemlishchuk/Desktop/Personal/Distr/ds-practice-2026/.cursor/rules/");</script>
<script>onHasParentDirectory();</script>
<script>addRow("agents-role.mdc","agents-role.mdc",0,440,"440 B",1774191533,"3/22/26, 3:58:53 PM");</script>
<script>addRow("agents-should-do.mdc","agents-should-do.mdc",0,789,"789 B",1774191322,"3/22/26, 3:55:22 PM");</script>
<script>addRow("agents-should-not.mdc","agents-should-not.mdc",0,440,"440 B",1774191323,"3/22/26, 3:55:23 PM");</script>
<script>addRow("agents-teaching-methodology.mdc","agents-teaching-methodology.mdc",0,989,"989 B",1774191526,"3/22/26, 3:58:46 PM");</script>
<script>addRow("AGENTS.mdc","AGENTS.mdc",0,3139,"3.1 kB",1774191550,"3/22/26, 3:59:10 PM");</script>
